.container{
    text-align: center;
}
h1{
    font-size: 40px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    border: 5px solid black;
    font-size: 35px;
}
button{
    border-radius: 20px;
    border: 2px solid black;
    font-size: 40px;
    background: rgb(129, 184, 185);
    width: 102px;
    height: 78px;
}
.calculator{
    border: 4px solid black;
    background-color: rgb(132, 91, 185);
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}
body{
    background-image: url(Im.jpg);
    background-repeat: no-repeat;
    background-size: 150% 150%;
}